.link-box {

    // width: 200px;
    width: 33.3%;

    flex: 1;

    height: 100%;

    transition: .1s flex;

    margin-right: 2em; 

    padding: 2em 0;

}

.link-box:last-child {
    margin-right: 0;
}

.link-box--wrapper {
    
    position: relative;
    // display: block;
    width: 100%;
    height: 200px;
    // border: 4px solid transparent;
    box-shadow:inset 0px 0px 0px 0px transparent;

    .link-box__title {
        @extend %font-link-big;
        display: inline;
        width: 6.66em;
        color: $color-accent;
        // color: white;
        margin: 0;
        padding: 0;

        // background: $color-bg;
    }

    &::before {
        content: '';
        display: block;

        position: absolute;
        right: 3em;
        top: -2em;

        width: 0px;
        height: calc(100% - 2em - 6em);

        border-right: 4px solid $color-accent;
        // background: $color-text;
    }

    &.link-box--no-image{
        .link-box__title {
            color: $color-text;
        }
    }

}

.link-box--wrapper-v {

    // width: 200px;
    height: 100%;  

    .link-box__title {

        pointer-events: none;

        position: absolute;

        text-align: right;

        right: 0;
        bottom: 0;

        transform: rotate(90deg) translate(.7em,1.5em);
        transform-origin: right bottom;

        z-index: 1;

        // mix-blend-mode: difference;

    }

    .link-box__bg--wrapper {
        height: 100%;
        width: 100%;
        
        position: absolute;
        overflow: hidden;
        
        // background: $color-accent;
        
        z-index: -2;

        .link-box__bg {
            height: 100%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%); 
        }

    }


}

.link-box:hover {

    // width: 300px;
    flex: 2;
    transition: .3s flex;

    .link-box--wrapper {
        // border: 4px solid $color-text;
        // box-shadow:inset 0px 0px 0px 4px $color-text;

    }

}